* {
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 217, 192);
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 2;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header {
    background: linear-gradient(to right, rgb(0, 52, 157), rgb(0, 34, 78));
    color: rgb(255, 255, 255);
    padding: 0px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.menu {
    background: linear-gradient(to right, rgb(0, 52, 157), rgb(0, 34, 78));
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 15px;
    width: 100%;
}

.middle {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

.box-left, .box-right {
    background-color: rgb(157, 199, 241);
    padding: 0px;
    width: 50%;
    margin-left: 0.5px;
    margin-right: 0.5px;
    border-radius: 10px;
    width: 100%;
}

.box-left p, .box-right a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 5px;
}

.content {
    background-color: rgb(157, 199, 241);
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    width: 100%;
}

.footer {
    background-color: rgb(10, 40, 80);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
    width: 100%;
}

.footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(10, 40, 80);
    color: white;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

.images p {
    font-style: italic;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.item {
    width: 100%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item p {
    font-style: italic;
    text-align: center;
}


